@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Volkhov", ui-serif, Georgia, serif;
  --color-text: #181e4b;
  --color-primary: #f1a501;
  --color-secondary: #f9fafb;
  --color-accent: #df6951;
  --color-subtitle: #5e6282;
  --color-menu-items: #212832;
}

* {
  box-sizing: border-box;
}
